asttokens
colorama
comm
contourpy
cycler
debugpy
decorator
executing
fonttools
greenlet
ipykernel
ipython
jedi
jupyter_client
jupyter_core
kiwisolver
matplotlib
matplotlib-inline
nest-asyncio
numpy
packaging
pandas
parso
pillow
platformdirs
prompt-toolkit
psutil
pure-eval
Pygments
pyparsing
python-dateutil
python-dotenv
pytz
pyzmq
seaborn
six
SQLAlchemy
stack-data
tornado
traitlets
typing_extensions
tzdata
wcwidth
